body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffdede; /* Cor de fundo alterada para um tom de rosa claro */
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .heart-container {
    position: relative;
  }
  
  .heart-icon {
    font-size: 72px;
    color: #ff3333; /* Cor do coração */
    animation: pulse 1s infinite alternate;
  }
  
  h1 {
    font-size: 24px; /* Tamanho da fonte do texto aumentado */
    color: #333; /* Cor do texto alterada */
  }
  
  .spotify-player {
    margin-top: 20px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .heart-icon {
      font-size: 48px;
    }
  
    h1 {
      font-size: 20px;
    }
  }
  
  /* Animação de pulso */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  .image-container {
    margin-top: 20px;
    margin-bottom: 20px; /* Adicionado espaço abaixo da imagem */
  }
  
  .image-container img {
    border-radius: 20px;
    max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner */
    height: auto; /* Garante que a altura seja ajustada automaticamente para manter a proporção da imagem */
  }
  
    
